<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/login/login.css}">
<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>ログイン</title>
</head>
<body class="bg-light">
	<div class="text-center">
		<form method="post" th:action="@{/login}" class="form-login">
			<h2>ログイン</h2>
			<!-- 社員番号 -->
			<div class="form-group">
				<label for="employeeId" class="sr-only">employeeId</label> <input
					type="text" class="form-control" placeholder="社員番号" name="employeeId" />
			</div>
			<!-- パスワード -->
			<div class="form-group">
				<label for="employeePassword" class="sr-only">employeePassword</label> <input
					type="text" class="form-control" placeholder="パスワード"
					name="employeePassword" />
			</div>
			<input type="submit" value="ログイン" class="btn btn-primary" />
		</form>
		<a th:href="@{/employee/signup}">新規登録はこちら</a>
	</div>
</body>
</html>