<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.EmployeeMapper">
	<!-- マッピング定義(ユーザー) -->
	<!-- TODO:resultTypeをSQL毎に変える -->
	<resultMap type="com.example.domain.user.model.Employees"
		id="Employees">
		<id column="employee_id" property="employeeId" />
		<result column="employee_password" property="employeePassword" />
		<result column="employee_name" property="employeeName" />
		<result column="employee_phone;" property="employeePhone;" />
		<result column="employee_email" property="employeeEmail" />
		<result column="employee_join_date" property="employeeJoinDate" />
	</resultMap>

	<!-- ユーザー1件登録 -->
	<insert id="insertOne">
		insert into employees(
		employee_id
		,employee_password
		,employee_name
		,employee_phone
		,employee_email
		,employee_join_date
		)
		values (
		#{employeeId}
		,#{employeePassword}
		,#{employeeName}
		,#{employeePhone}
		,#{employeeEmail}
		,#{employeeJoinDate}
		);
	</insert>

	<!-- ユーザー複数件取得 -->
	<select id="findMany" resultType="Employees">
		select *
		from employees
		<where>
			<if test="employeeId != null">
				employee_id like CONCAT('%', #{employeeId}, '%')
			</if>
			<if test="employeeName != null">
				employee_name like CONCAT('%', #{employeeName}, '%')
			</if>
		</where>
	</select>

	<!-- ユーザー1件検索 -->
	<select id="findOne" resultMap="Employees">
		select *
	<!-- 	employee_id
		,employee_password
		,employee_name
		,employee_phone
		,employee_email
		,employees_employeeJoinDate -->
		from employees
		where
		employee_id = #{employeeId}
	</select>

	<!-- ユーザー1件更新 -->
	<update id="updateOne">
		update employees
		set
		employee_password = #{employeePassword}
		,employee_name = #{employeeName}
		,employee_phone = #{employeePhone}
		,employee_email = #{employeeEmail}
		,employeeJoinDate = #{employeeJoinDate}
		where
		employee_id =#{employeeId}
	</update>

	<!-- ユーザー1件削除 -->
	<delete id="deleteOne">
		delete from employees
		where employee_id = #{employeeId}
	</delete>
</mapper>