<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title th:text="#{emp_signup_title}"></title>
<!-- 個別CSS読込 -->
<link rel="stylesheet" th:href="@{/css/employee/signup.css}">
</head>

<body class="bg-light">
	<div layout:fragment="content">
		<form id="signup-form" method="post" action="/employee/signup"
			class="form-signup" th:object="${employeesSignupForm}">
			<!-- パスワード -->
			<div class="form-group">
				<label for="employeePassword" th:text="#{employeePassword}"></label>
				<input type="text" class="form-control" placeholder="abc1234"
					th:field="*{employeePassword}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{employeePassword}"></div>
			</div>
			<!-- ユーザー名 -->
			<div class="form-group">
				<label for="employeeName" th:text="#{employeeName}"></label> <input
					type="text" class="form-control" th:field="*{employeeName}"
					th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{employeeName}"></div>
			</div>
			<!-- 電話番号 -->
			<label for="employeePhone" th:text="#{employeePhone}"></label> <input
				type="text" class="form-control" placeholder="080-1111-2222"
				th:field="*{employeePhone}" th:errorclass="is-invalid" />
			<div class="invalid-feedback" th:errors="*{employeePhone}"></div>
			<!-- Eメール -->
			<label for="employeeEmail" th:text="#{employeeEmail}"></label> <input
				type="text" class="form-control" th:field="*{employeeEmail}"
				th:errorclass="is-invalid" />
			<div class="invalid-feedback" th:errors="*{employeeEmail}"></div>
			<!-- 入社年月日 -->
			<div class="form-group">
				<label for="employeeJoinDate" th:text="#{employeeJoinDate}"></label>
				<input type="text" class="form-control" placeholder="yyyy/MM/dd"
					th:field="*{employeeJoinDate}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{employeeJoinDate}"></div>
			</div>
			<!-- 登録ボタン -->
			<div class="text-center" >
				<input type="submit" th:value="#{emp_signup_btn}"
					class="btn btn-primary" />
			</div>
		</form>
	</div>
</body>
</html>
